<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create user</title>
</head>
<body>
   <form action="http://localhost:3000/create" method="post" style="margin: 100px auto; width: 500px;">
   <label for="ID">ID :</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="text" id="ID" name="id" placeholder="id" required ><br>
   <label for="">USERNAME : </label> 
   <input type="text" id="USERNAME" name="username" placeholder="enter username" required ><br>
   <label for="">EMAIL : </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="EMAIL" name="email" placeholder="enter  email" required ><br>
    <label for="">PASSWORD : </label>
    <input type="password" id="PASSWORD" name="password" placeholder="enter password" required ><br> 

<button >Create User</button>
   </form>
</body>
</html>