<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create a chat</title>
</head>
<body>
 <h3>Create a new Chat here</h3>
 <form action="/chats" method="post">
    <label for="from">From :</label> &nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="from" name="from" required> <br>
    <label for="to">To :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input type="text" id="to" name="to" required> <br>
    <label for="msg">Message :</label> <input type="text" id="msg" name="msg" required><br>
   <button>create</button>
 </form>

</body>
</html>